<head>
    <title>Sports MS </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<style>
    img {
        width: 100px;
        display: block;
    }
</style>

<body>

   

    <nav class="navbar navbar-dark bg-info navbar-expand-sm">
        <div class="container">
            <a class="btn btn-info back-link mr-2" href="/admin/index">&laquo; Back</a>
            <div class="lead navbar-brand d-none d-lg-block active">Players</div>
            <a class="lead navbar-brand d-none d-lg-block text-light" href="/admin/playerCreate">Create</a>

            <div class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <button class="btn btn-info nav-link active dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by</button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Player
                            Name</a>
                        <a class="dropdown-item" href="#">Player
                            ID</a>
                        <a class="dropdown-item" href="#">Student
                            ID</a>
                        <a class="dropdown-item" href="#">Position</a>
                        <a class="dropdown-item" href="#">Sport</a>
                    </div>
                </li>



            </div><!-- navbar-nav -->
            <form action="" method="post" class="form-inline d-none d-md-block">
                <label class="sr-only" for="search">Search</label>
                <input class="form-control" type="text" id="search" name="id" placeholder="Search for...">
                <button class="btn btn-warning" type="submit">Go</button>
            </form>

        </div><!-- container -->

    </nav>

    <div class="container" id="content">
        <table class="table table-striped">
            <tbody>
                <tr class="thead-light">
                    <th>Name</th>
                    <th>Player_id</th>
                    <th>Usn</th>
                    <th>Gender</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Year</th>
                    <th>Contact</th>
                    <th>Sports</th>
                    <th>Role</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <% players.forEach((player, index) => { %>
                <tr>
                    <td><%= player.playerName %></td>
                    <td><%= player.playerId %></td>
                    <td><%= player.usn %></td>
                    <td><%= player.gender %></td>
                    <td><%= player.height %></td>
                    <td><%= player.weight %></td>
                    <td><%= player.year %></td>
                    <td><%= player.contact %></td>
                    <td><%= player.sports %></td>
                    <td><%= player.role %></td>
                    <td>
                        <form action="playerInfo" method="post">
                            <input type="hidden" name="playerId" value="<%= player.playerId %>" />
                            <button class="btn btn-primary" type="submit">
                                View
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="playerEdit" method="get">
                            <input type="hidden" name="playerId" value="<%= player.playerId %>" />
                            <button class="btn btn-primary" type="submit">
                                Edit
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="playerDelete" method="get">
                            <input type="hidden" name="playerId" value="<%= player.playerId %>" />
                            <button class="btn btn-primary" type="submit">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>




    <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center py-3">Copyright <?php echo date('Y'); ?>, Vinsmoke </div>


    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>